t4-openhack-code/apis/poi/ @arvinddr123 @ChandanNayak @srihub123
t4-openhack-code/apis/trips/ @ayushmall0710 @learnprofile @ChandanNayak
t4-openhack-code/apis/user-java/  @ayushmall0710 @arvinddr123 @srihub123
t4-openhack-code/apis/userprofile/ @learnprofile @ChandanNayak @arvinddr123
